@charset "UTF-8";
@font-face {
    font-family: 'idroid';
    src: url(font/idroid.otf) format(opentype);
}
header{
    background-image: linear-gradient(#3dcf70, #456B52);
    width: 100%;
    padding:2px 2px 1px 1px;
    height: 100%;   
    border-radius: 15px; 
}
nav{
    padding-bottom: 3px;
    
}
nav > a{
    text-decoration: none;
    color:#3dcf70;
    margin-left: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 2px 2px 5px rgba(10, 58, 10, 0.664) ;
}
nav > a:hover{
    background-color:#044e1e ;
    padding: 2px 8px 2px 8px;
}

header > h1{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    text-shadow: 2px 2px 5px rgba(1, 32, 1, 0.664) ;
}
header > p{
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 5px rgba(1, 32, 1, 0.664) ;
}
body{
    background-color: #EBF8C2;
    
}
main > p{
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
    text-indent: 20px;
    font-family: Arial, Helvetica, sans-serif;
    
}
main > h2{
    background-image:linear-gradient(#12aa4f, #E5FAEB);
    font-family: 'idroid';
    font-size: 1em;
    padding-left: 5px;
    margin: 10px;
    height: 1.5em;
    color: #034119;
    font-weight: bold;
}
.primary{
    background-color: white;
    width: 1000px;
    margin: auto;
    box-shadow: 8px 8px 5px #4f534067;
    border-radius: 15px;

}
main > h1{
    text-align: left;
    font-family: 'idroid';
    font-weight: normal;
    color: #12aa4f;
    padding: 20px 25px 0px 20px
}
picture#androidimg{
    padding-left: 120px;
}
picture#womanimg{
    padding-left: 90px;
}
picture#sticker{
    padding-left: 340px;
}
div{
    background-color: rgb(182, 250, 182);
    width: 1000px;
    height: 500px;
    
}
div#final{
    width: 800px;
    height: 450px;
    margin: auto;
    padding: 15px;
    border-radius: 0px 0px 15px 15px;   
    text-align: justify;
    text-indent: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
h3{
    background-color: darkgreen;
    padding: 8px;
    border-radius: 15px 15px 0px 0px;
    width:814px;
    margin:auto;
}
footer{
    background-color: #456B52;
    text-align: center;
    font-family: 'idroid';
    color: white;
    text-shadow: 2px 2px 5px rgba(1, 32, 1, 0.664) ;
    width: 400px;
    margin: auto;
}
p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    
}
ul{
    text-align: justify;
}

