        @import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

        @import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
        
        *{
            background:fixed
        }
        body{
            font-family: 'Work Sans', Arial, Verdana, sans-serif;
            color: black;
            font-size: 1em;
            background-image: linear-gradient(#EFCBFD, #8b7396);
        }
        h1{
            font-family: 'Indie Flower', cursive;
            font-size: 3em;
            text-align: center;
            color: #C975EA;
        }
        h2{
            font-family: 'Indie Flower', cursive;
            font-size: 2em;
            
        }
        main{
            background-color: white;
            width: 600px;
            margin: auto;
            padding: 10px;
            border-radius: 15px;
            box-shadow: 10px 10px 15px rgba(92, 79, 97, 0.397);

        }
        p{
            text-align: justify;
        }